/* 
 * We don't define fallback values to let the initial values subsist (if any).
 * This could catch the case of a missing prop and instead of a default value
 * we would rely on the default from the SVG.
 */

.compose-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}
